* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a:hover,
button:hover {
	opacity: 0.5;
	transition: opacity 0.5s ease;
}

.side-bar {
	width: 320px;
	font-family: 'TT Lakes';
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: .2px;
	background-color: #FFFFFF;
	box-shadow:
		16px 0 52px 0 rgba(14, 24, 80, 0.2),
		-2px 0 4px 0 rgba(69, 79, 126, 0.02);
	overflow-y: scroll;
}

.header {
	display: flex;
	align-items: center;
}

.header--padding {
	padding-top: 16px;
	padding-bottom: 46px;
	padding-right: 24px;
	padding-left: 24px;
}

.button {
	display: flex;
	height: 40px;
	width: 40px;
	background-color: #FFFFFF00;
	border-radius: 50%;
	border: none;
	text-decoration: none;
}

.button--right-side {
	margin-left: auto;
}

.logo--padding {
	margin-left: 16px;
}

.side-menu {
	height: 876px;
}

.main-menu {
	margin-left: 24px;
}

.navigation__list {
	list-style-type: none;
}

.nav-botton--focus {
	position: relative;
	margin-bottom: 32px;
	color: rgba(126, 126, 130, 1);
}

.nav-botton--focus::before {
	position: absolute;
	left: -24px;
	top: -5px;
	content: url(img/highlight.svg);
}

.link {
	color: rgba(27, 28, 33, 1);
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	text-decoration: none;
}

.nav-botton {
	margin-bottom: 32px;
}

.footer {
	margin-left: 24px;
}

.footer__buttons {
	display: flex;
	margin-right: 16px;
	margin-bottom: 16px;
}

.footer__info {
	list-style-type: none;
	display: flex;
	flex-direction: column;
}

.mail__link {
	margin-bottom: 12px;
}

.tel__link {
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.6px;
	font-family: "TT Lakes";
	font-weight: bold;
	margin-bottom: 8px;
}

.link-focus {
	color: rgba(126, 126, 130, 1)
}